@{
    ViewBag.Title = "Kate Metroka";
}

<div class="spinner"><div></div></div>
<div class="container_16">
    <div class="box_left">
        <div class="wrapper">
            <!--header -->
            <header class="grid_4 suffix_1">
                <h1><a href="~/" id="logo">delight Beauty School</a></h1>
                <div class="wrapper">
                    <nav class="menu">
                        <ul id="menu">
                            <li><a href="#!/page_Photos">Photos</a></li>
                            <li><a href="#!/page_Videos">Videos</a></li>
                            <li><a href="#!/page_Resume">Resume</a></li>
                            <li class="end"><a href="#!/page_Contacts">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!--header end-->
            <div class="wrapper">
                <!--footer -->
                <footer>
                   
                    <!-- {%FOOTER_LINK} -->
                </footer>
                <!--footer end-->
            </div>
        </div>
    </div>
    <!--content -->
    <div class="wrapper">
        <a href="javascript:" class="marker_left"></a><a href="javascript:" class="marker_right"></a>
        <article id="content">
            <ul>
                <li id="page_Main">
                    <div class="scroll">
                        <div class="scroll2">
                            <div class="grid_8">
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Welcome!</strong><span>to our beauty school official website!</span></h2>
                                        <figure><img src="Content/images/page2_img1.jpg" alt="" class="pad_bot1"></figure>
                                        <p class="color1 pad_bot2">
                                            Dolorsit, ametcon seadisci lisaseta sumiquia kertya meruiase<br>
                                            quam eiusncidu nabore et dolore maseras keryuas jertya deasase<br>
                                            gnam aliquam quaerat voluptatem.
                                        </p>
                                        <p class="color1">
                                            Mert enim ad minima veniam, quostruxercita kaserse miasy<br>
                                            tionem ullam corporis suscipit laboriosa nisutas heryadesa keryd<br>
                                            aliquid exeasea commodi consequatur?
                                        </p>
                                        <div class="under">
                                            <a href="#!/page_More" class="button">read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_5">
                                <div class="box">
                                    <figure><img src="Content/images/page2_img2.jpg" alt="" class="pad_bot1"></figure>
                                    <div class="pad1">
                                        <p class="font1">
                                            <strong>3 Day Core Cutting</strong><br>
                                            fasetya kertyuad nertya <br>
                                            xvaitas nase erta
                                        </p>
                                    </div>
                                    <figure><img src="Content/images/page2_img3.jpg" alt="" class="pad_bot1"></figure>
                                    <div class="pad1">
                                        <span class="font1">
                                            <strong>3 Day Men's Haircutting</strong> <br>
                                            mryuiad rode lertsaes <br>
                                            Diskerta jadrt raitas
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_8">
                                <a href="#" class="close" data-type="close"></a>
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Careers With Delight</strong></h2>
                                        <div class="wrapper">
                                            <div class="cols">
                                                <figure><img src="Content/images/page2_img4.jpg" alt="" class="pad_bot1"></figure>
                                                <h3>How We Teach</h3>
                                                <p>
                                                    <span class="color1">Nertad tis kerdas bertyuas</span><br>
                                                    nveritati quasvitae basem apque nerafaes alepque dicta suplicabobasetyu kaeasety.
                                                </p>
                                                <p class="pad_bot2">
                                                    Faety dictuplicab jertaesira kertyas nemo eniptaia vole rnatur autitaut. Minsequ hase<br>
                                                    untur magni dolores.
                                                </p>
                                                <div class="under">
                                                    <a href="#!/page_More" class="button">read more</a>
                                                </div>
                                            </div>
                                            <div class="cols pad_left1">
                                                <figure><img src="Content/images/page2_img5.jpg" alt="" class="pad_bot1"></figure>
                                                <h3>Skin Care Advice</h3>
                                                <p>
                                                    <span class="color1">Baomnistu samedut peciatis</span> <br>
                                                    am rem apque nveritati jase<br>
                                                    quasvitae dicta suplicabo nase nerafa esalepque nveritati quasvitae.
                                                </p>
                                                <p class="pad_bot2">
                                                    Baictuplicab jertaesi kertyas<br>
                                                    nemo eniptaia volernatur aut oditaut madertae.
                                                </p>
                                                <div class="under">
                                                    <a href="#!/page_More" class="button">read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_Photos">
                    <div class="scroll">
                        <div class="scroll2">
                            <div class="grid_17">
                                <a href="#" class="close" data-type="close"></a>
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Photos</strong></h2>
                                        <div class="line1">
                                            <div class="wrapper line2">
                                                <div class="cols">
                                                    <a href="~/Content/images/photos/2758808_orig.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/2758808_orig.jpg" alt="" class="pad_bot2" width="200"></a>
                                                    <a href="~/Content/images/photos/9959118_orig.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/9959118_orig.jpg" alt="" class="pad_bot2" width="200"></a>
                                                </div>
                                                <div class="cols pad_left2">
                                                    <a href="~/Content/images/photos/Kate0310.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/Kate0310.jpg" alt="" class="pad_bot2" width="200"></a>
                                                    <a href="~/Content/images/photos/Kate0323.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/Kate0323.jpg" alt="" class="pad_bot2" width="200"></a>
                                                </div>
                                                <div class="cols pad_left2">
                                                    <a href="~/Content/images/photos/Kate0366.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/Kate0366.jpg" alt="" class="pad_bot2" width="200"></a>
                                                    <a href="~/Content/images/photos/Kate0432.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/Kate0432.jpg" alt="" class="pad_bot2" width="200"></a>
                                                </div>
                                                <div class="cols pad_left2">
                                                    <a href="~/Content/images/photos/Kate0483.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/Kate0483.jpg" alt="" class="pad_bot2" width="200"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_Videos">
                    <div class="scroll">
                        <div class="scroll3">
                            <div class="grid_5">
                                <div class="box">
                                    <figure><img src="Content/images/page4_img1.jpg" alt=""></figure>
                                    <div class="pad">
                                        <h2><strong>Hair Services</strong></h2>
                                        <p class="font1">Shampoo &amp; Style</p>
                                        <p class="pad_bot1">Pellentesque sed dolor. Aliquam congue fermentum nris accu msan.</p>
                                        <p class="font1">Braids &amp; Locks</p>
                                        <p class="pad_bot1">Aliquam congue fermentum nisl. Mauris accs ut umsan nulla vel dia.</p>
                                        <p class="font1">Special Occasion Styling</p>
                                        <p>Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_5">
                                <div class="box">
                                    <figure><img src="Content/images/page4_img2.jpg" alt=""></figure>
                                    <div class="pad">
                                        <h2><strong>Color Services</strong></h2>
                                        <p class="font1">Permanent Haircolor</p>
                                        <p class="pad_bot1">Wsed dolor. Aliquam congue fermen- tum nris accu msan. Sed in lacus.</p>
                                        <p class="font1">Semi/Demi Haircolor</p>
                                        <p class="pad_bot1">Congue fermentum nisl. Mauris accs ut umsan nulla vel diam ed inlac- uenim adipiscing. aliquet. </p>
                                        <p class="font1">Toner</p>
                                        <p>Pellentesque sed dolor. Aliquam congue fermentum nislris accum. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_5">
                                <div class="box">
                                    <figure><img src="Content/images/page4_img3.jpg" alt=""></figure>
                                    <div class="pad">
                                        <h2><strong>Nail Services</strong></h2>
                                        <p class="font1">Manicure</p>
                                        <p class="pad_bot1">Wsed dolor. Aliquam congue fermen- tum nris accu msan. Sed in lacus.</p>
                                        <p class="font1">Pedicure</p>
                                        <p class="pad_bot1">Congue fermentum nisl. Mauris accs ut umsan nulla vel diam ed in.</p>
                                        <p class="font1">Spa Manicure</p>
                                        <p>Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_5">
                                <a href="#" class="close" data-type="close"></a>
                                <div class="box">
                                    <figure><img src="Content/images/page4_img4.jpg" alt=""></figure>
                                    <div class="pad">
                                        <h2><strong>Skin Services</strong></h2>
                                        <p class="font1">Facial</p>
                                        <p class="pad_bot1">Pellentesque sed dolor. Aliquam congue fermentum nris accu msaned in lacus ut enim adipiscing aliquet. </p>
                                        <p class="font1">Spa Facial</p>
                                        <p class="pad_bot1">Aliquam congue fermentum nisl. Mauris accs ut umsan nulla vel dia.</p>
                                        <p class="font1">Make-up Application</p>
                                        <p>Pellentesque sed dolor. Aliquam congue fermentum nisuris accumsa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_Resume">
                    <div class="scroll">
                        <div class="scroll1">
                            <div class="grid_8">
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Films</strong></h2>
                                    </div>
                                    <div class="pad">
                                        <ul class="list1">
                                            <li><span><strong>Sangrophobia</strong> (Veronica) -- Dir: Steve Major</span></li>
                                            <li><span><strong>Panic Disorder</strong> (Lucy) -- Dir: Jennifer Vellenga</span></li>
                                            <li><span><strong>Project X</strong> (Jill) -- Dir: Christine Kellogg</span></li>
                                            <li><span><strong>Ghost Closet</strong> (Anne) -- Dir: Max Landis</span></li>
                                            <li><span><strong>The Secretary</strong> (Bree) -- Dir: Jake Weinheimer</span></li>
                                        </ul>
                                    </div>
                                    <div class="pad">
                                        <h2><strong>Television</strong></h2>
                                    </div>
                                    <div class="pad">
                                        <ul class="list1">
                                            <li><span><strong>Pretty Little Liars</strong> (Runway Model) -- ABC Family</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_8">
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Theater</strong></h2>
                                    </div>
                                    <div class="pad">
                                        <ul class="list1">
                                            <li><span><strong>Hamlet</strong> (Opheliz) -- Ring Theatre/Dir: Jay Goede</span></li>
                                            <li><span><strong>Summer Internship</strong> (Counselor) -- Indiana Rep. Theatre/Dir: P. Lindsay</span></li>
                                            <li><span><strong>The Motherline</strong> (Claire) -- Fringe Festival/Dir: J. Vellenga</span></li>
                                            <li><span><strong>Wizard of Oz</strong> (Dorothy) -- Guyer Opera House</span></li>
                                            <li><span><strong>You're A Good Man Charlie Brown</strong> (Sally Brown) -- Ring Theatre</span></li>
                                            <li><span><strong>Metamorphosis</strong> (Myrrah/Alcyone) -- Syracuse Red House</span></li>
                                            <li><span><strong>Odysseus Doa</strong> (Nurse Dot) -- Off Broadway Lion Theatre</span></li>
                                            <li><span><strong>Twelfth Night</strong> (Viloa) -- Adirondack Shakespeare</span></li>
                                            <li><span><strong>Cabaret</strong> (Fraulein Kost/Fritize) -- Ring Theatre</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_8">
                                <a href="#" class="close" data-type="close"></a>
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Training</strong></h2>
                                    </div>
                                    <div class="pad">
                                        <ul class="list1">
                                            <li><span><strong>Cold Reading</strong> (Ongoing) -- Anthony Meindl's Actor Workshop</span></li>
                                            <li><span><strong>BFA Musical Theatre</strong> (Bruce Miller) -- University of Miami</span></li>
                                            <li><span><strong>Scene Study</strong> (Will Wallace) -- Will Wallace Acting Company</span></li>
                                            <li><span><strong>Meisner</strong> (Mark Pellegrino) -- Playhouse West</span></li>
                                            <li><span><strong>Casting Director's Workshop</strong> (Burbank) -- AIA Studios</span></li>
                                        </ul>
                                    </div>
                                    <div class="pad">
                                        <h2><strong>Download (PDF)</strong></h2>
                                    </div>
                                    <div class="pad">
                                        <ul class="list1">
                                            <li><a href="~/content/katemetroka_resume.pdf" target="_blank">Download Resume</a></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </li>
                <li id="page_Careers">
                    <div class="scroll">
                        <div class="scroll4">
                            <div class="grid_5">
                                <div class="box">
                                    <figure><a href="Content/images/big_img7.jpg" class="lightbox-image" rel="prettyPhoto[group2]" title="Hair Stylist"><img src="Content/images/page6_img1.jpg" alt="" class="pad_bot1"></a></figure>
                                    <div class="pad1">
                                        <p class="font1">
                                            <strong>Hair Stylist</strong><br>
                                            onsectetuer adipiscing elit Pellentesque sed
                                        </p>
                                    </div>
                                    <figure><a href="Content/images/big_img8.jpg" class="lightbox-image" rel="prettyPhoto[group2]" title="Hair Color Specialist"><img src="Content/images/page6_img2.jpg" alt="" class="pad_bot1"></a></figure>
                                    <div class="pad1">
                                        <span class="font1">
                                            <strong>Hair Color Specialist</strong> <br>
                                            aesent vestibulum molestie lacus Aenean
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_13">
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>The Possibilities Are Endless</strong></h2>
                                        <p><span class="color1">The career possibilities in the beauty industry are virtually endless.</span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. </p>
                                        <p class="color1">Even better, Our Beauty Schools will provide you that training in Cosmetology or any of our specialized programs:</p>
                                        <div class="wrapper pad_bot1">
                                            <div class="cols">
                                                <ul class="list1">
                                                    <li><a href="#">Esthetics</a></li>
                                                    <li><a href="#">Nail Technology</a></li>
                                                </ul>
                                            </div>
                                            <div class="cols pad_left2">
                                                <ul class="list1">
                                                    <li><a href="#">Makeup Artistry</a></li>
                                                    <li><a href="#">Cosmetology Educator</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                                        <p class="color1">Plus, our training and hands-on instruction from the classroom to the Student Salon provides you the exposure to these various types of careers such as:</p>
                                        <div class="wrapper pad_bot1">
                                            <div class="cols">
                                                <ul class="list1">
                                                    <li><a href="#">Hairdresser</a></li>
                                                    <li><a href="#">Color Specialist</a></li>
                                                    <li><a href="#">Retail and Marketing</a></li>
                                                    <li><a href="#">Salon Management</a></li>
                                                </ul>
                                            </div>
                                            <div class="cols pad_left2">
                                                <ul class="list1">
                                                    <li><a href="#">Makeup Artist</a></li>
                                                    <li><a href="#">Esthetician</a></li>
                                                    <li><a href="#">Nail Technician</a></li>
                                                    <li><a href="#">Cosmetology Educator</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_5">
                                <a href="#" class="close" data-type="close"></a>
                                <div class="box">
                                    <figure><a href="Content/images/big_img9.jpg" class="lightbox-image" rel="prettyPhoto[group2]" title="Nail Artist/Manicurist"><img src="Content/images/page6_img3.jpg" alt="" class="pad_bot1"></a></figure>
                                    <div class="pad1">
                                        <p class="font1">
                                            <strong>Nail Artist/Manicurist</strong><br>
                                            onsectetuer adipiscing elit Pellentesque sed
                                        </p>
                                    </div>
                                    <figure><a href="Content/images/big_img10.jpg" class="lightbox-image" rel="prettyPhoto[group2]" title="Esthetician"><img src="Content/images/page6_img4.jpg" alt="" class="pad_bot1"></a></figure>
                                    <div class="pad1">
                                        <span class="font1">
                                            <strong>Esthetician</strong> <br>
                                            aesent vestibulum molestie lacus Aenean
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_Contacts">
                    <div class="scroll">
                        <div class="scroll5">
                            <div class="grid_8">
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Contact Form</strong></h2>
                                        <div id="contact_form">
                                            <form id="contact-form" method="post" class="main-contacts">
                                                <fieldset>
                                                    <input type="hidden" name="owner_email" id="owner_email" value="support@guardlex.com" />
                                                    <input type="hidden" name="serverProcessorType" id="serverProcessorType" value="php" />
                                                    <input type="hidden" name="smtpMailServer" id="smtpMailServer" value="localhost" />
                                                    <input type="hidden" name="stripHTML" id="stripHTML" value="true" />

                                                    <div class="rowElem">
                                                        <div class="bg">
                                                            <input type="text" name="name" id="name" value="Your Name:" onblur="if(this.value=='') this.value='Your Name:'" onfocus="if(this.value =='Your Name:' ) this.value=''">
                                                        </div>
                                                        <label class="error" for="name" id="name_error">*This field is required.</label>
                                                        <label class="error" for="name" id="name_error2">*This is not a valid name.</label>
                                                    </div>
                                                    <div class="rowElem">
                                                        <div class="bg">
                                                            <input type="text" name="phone" id="phone" value="Telephone:" onblur="if(this.value=='') this.value='Telephone:'" onfocus="if(this.value =='Telephone:' ) this.value=''">
                                                        </div>
                                                        <label class="error" for="phone" id="phone_error">*This field is required.</label>
                                                        <label class="error" for="phone" id="phone_error2">*This is not a valid phone number.</label>
                                                    </div>
                                                    <div class="rowElem">
                                                        <div class="bg">
                                                            <input type="text" name="email" id="email" value="E-mail:" onblur="if(this.value=='') this.value='E-mail:'" onfocus="if(this.value =='E-mail:' ) this.value=''">
                                                        </div>
                                                        <label class="error" for="email" id="email_error">*This field is required.</label>
                                                        <label class="error" for="email" id="email_error2">*This is not a valid email address.</label>
                                                    </div>
                                                    <div class="textarea-box">
                                                        <div class="bg">
                                                            <textarea cols="1" rows="1" name="message" id="message" onblur="if(this.value=='') this.value='Message:'" onfocus="if(this.value =='Message:' ) this.value=''">Message:</textarea>
                                                        </div>
                                                        <label class="error" for="message" id="message_error">*This field is required.</label>
                                                        <label class="error" for="message" id="message_error2">*The message is too short.</label>
                                                    </div>
                                                    <a href="#" id="submit" class="button">submit</a>
                                                    <a href="#" id="clear" class="button">reset</a>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_6">
                                <a href="#" class="close" data-type="close"></a>
                                <div class="box">
                                    <h2 class="pad_left1"><strong>Primary Contacts </strong></h2>
                                    <div class="pad">
                                        <p class="address">
                                            <span class="right">310.871.1164</span>Phone:<br/>
                                            <span class="right"><a href="mailto:kdtalent@aol.com">kdtalent@aol.com</a></span>E-mail:<br />
                                        </p>
                                    </div>
                                    <div style="padding-top: 250px; text-align: center;">
                                        <figure class="pad_bot1"><img src="~/content/images/kd_talent.png" width="256" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_Privacy">
                    <div class="scroll">
                        <div class="scroll6">
                            <div class="grid_19">
                                <a href="#" class="close" data-type="close"></a>
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Privacy Policy </strong></h2>
                                        <p><span class="color1">Aenean nec erosstibulum ante ipsum</span> primis in faucibus orci luctus et ultrices posuere cubilia pendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper urna et felis. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscinpernatur aut odit aut g elit. Pellentesque sed dolor. </p>
                                        <p><span class="color1">Aliquam congue fermentum nisl.</span> Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                                        <p><span class="color1">Sed quia non numquam eius modi tempora</span> incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Nulla facilisi. Aenean nec erosstibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia pendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donepernatur aut odit aut c eget tellus non erat lacinia fermentum. </p>
                                        <p><span class="color1">Donec in velit vel ipsum auctor pulvinar.</span> Proin ullamcorper urna et felis. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula pernatur aut odit aut  Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                        <p>E-mail: <a href="mailto:">info@demolink.org</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_More">
                    <div class="scroll">
                        <div class="scroll7">
                            <div class="grid_13">
                                <a href="#" class="close" data-type="back"></a>
                                <div class="box">
                                    <div class="pad">
                                        <h2><strong>Read more</strong></h2>
                                        <p><span class="color1">The career possibilities in the beauty industry are virtually endless.</span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. </p>
                                        <p class="color1">Even better, Our Beauty Schools will provide you that training in Cosmetology or any of our specialized programs:</p>
                                        <div class="wrapper pad_bot1">
                                            <div class="cols">
                                                <ul class="list1">
                                                    <li><a href="#">Esthetics</a></li>
                                                    <li><a href="#">Nail Technology</a></li>
                                                </ul>
                                            </div>
                                            <div class="cols pad_left2">
                                                <ul class="list1">
                                                    <li><a href="#">Makeup Artistry</a></li>
                                                    <li><a href="#">Cosmetology Educator</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                                        <p class="color1">Plus, our training and hands-on instruction from the classroom to the Student Salon provides you the exposure to these various types of careers such as:</p>
                                        <div class="wrapper pad_bot1">
                                            <div class="cols">
                                                <ul class="list1">
                                                    <li><a href="#">Hairdresser</a></li>
                                                    <li><a href="#">Color Specialist</a></li>
                                                    <li><a href="#">Retail and Marketing</a></li>
                                                    <li><a href="#">Salon Management</a></li>
                                                </ul>
                                            </div>
                                            <div class="cols pad_left2">
                                                <ul class="list1">
                                                    <li><a href="#">Makeup Artist</a></li>
                                                    <li><a href="#">Esthetician</a></li>
                                                    <li><a href="#">Nail Technician</a></li>
                                                    <li><a href="#">Cosmetology Educator</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
            <div id="page_splash">
                <div class="scroll">
                    <div class="scroll1">
                        <div class="grid_12">
                            <div class="box">
                                <div class="slider_box">
                                    <div class="slider">
                                        <img src="Content/images/curly.jpg" alt="" title="" width="700">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid_12">
                            <div class="box">
                                <div class="slider_box">
                                    <div class="slider">
                                        <img src="Content/images/0323.png" alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid_12">
                            <div class="box">
                                <div class="slider_box">
                                    <div class="slider">
                                        <img src="Content/images/kate_bw.png" alt="" title="" width="700">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <!--content end-->
</div>