<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kate Metroka :: SAG-AFTRA Actress/Singer/Voice Over Artist</title>
    <meta charset="utf-8">
    <meta name="description" content="Kate Metroka is a SAG-AFTRA actress, singer, and voice over artist residing in Los Angeles, CA.  Kate is currently managed by KD Talent based out of Los Angeles, CA."

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/templatejs")

    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5.js"></script>
      <style type="text/css">
          .bg{ behavior: url(js/PIE.htc); }
      </style>
    <![endif]-->
    <!--[if lt IE 8]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/Content/images/banners/warning_bar_0000_us.jpg" border="0"  alt="" /></a>
        </div>
    <![endif]-->

</head>

<body id="color1">
    @RenderBody()
    <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
