<li id="page_Photos">
    <div class="scroll">
        <div class="scroll2">
            <div class="grid_13">
                <a href="#" class="close" data-type="close"></a>
                <div class="box">
                    <div class="pad">
                        <h2><strong>Photos</strong></h2>
                        <div class="line1">
                            <div class="wrapper line2">
                                <div class="cols">
                                    <a href="~/Content/images/photos/2758808_orig.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/thumbs/2758808_thumb.jpg" alt="" class="pad_bot2" width="200"></a>
                                    <a href="~/Content/images/photos/9959118_orig.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/thumbs/9959118_thumb.jpg" alt="" class="pad_bot2" width="200"></a>
                                </div>
                                <div class="cols pad_left2">
                                    <a href="~/Content/images/photos/Kate0310.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/thumbs/Kate0310_thumb.jpg" alt="" class="pad_bot2" width="200"></a>
                                    <a href="~/Content/images/photos/Kate0323.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/thumbs/Kate0323_thumb.jpg" alt="" class="pad_bot2" width="200"></a>
                                </div>
                                <div class="cols pad_left2">
                                    <a href="~/Content/images/photos/Kate0366.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/thumbs/Kate0366_thumb.jpg" alt="" class="pad_bot2" width="200"></a>
                                    <a href="~/Content/images/photos/Kate0432.jpg" class="lightbox-image" rel="photos[group1]"><img src="Content/images/photos/thumbs/Kate0432_thumb.jpg" alt="" class="pad_bot2" width="200"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
