<li id="page_Resume">
    <div class="scroll">
        <div class="scroll1">
            <div class="grid_8">
                <div class="box">
                    <div class="pad">
                        <h2><strong>Film</strong></h2>
                    </div>
                    <div class="pad">
                        <ul class="list1">
                            <li><span><strong>Sangrophobia</strong> (Veronica) -- Dir: Steve Major</span></li>
                            <li><span><strong>Panic Disorder</strong> (Lucy) -- Dir: Jennifer Vellenga</span></li>
                            <li><span><strong>Project X</strong> (Jill) -- Dir: Christine Kellogg</span></li>
                            <li><span><strong>Ghost Closet</strong> (Anne) -- Dir: Max Landis</span></li>
                            <li><span><strong>The Secretary</strong> (Bree) -- Dir: Jake Weinheimer</span></li>
                        </ul>
                    </div>
                    <div class="pad">
                        <h2><strong>Television</strong></h2>
                    </div>
                    <div class="pad">
                        <ul class="list1">
                            <li><span><strong>Pretty Little Liars</strong> (Runway Model) -- ABC Family</span></li>
                        </ul>
                    </div>
                    <div class="pad">
                        <h2><strong>Commercial</strong></h2>
                    </div>
                    <div class="pad">
                        <ul class="list1">
                            <li><span><strong>University of Laverne</strong> (Daughter)</span></li>
                            <li><span><strong>Enjai Wireless Earbuds</strong> (Kay)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_8">
                <div class="box">
                    <div class="pad">
                        <h2><strong>Theater</strong></h2>
                    </div>
                    <div class="pad">
                        <ul class="list1">
                            <li><span><strong>Hamlet</strong> (Ophelia) -- Ring Theatre</span></li>
                            <li><span><strong>Summer Internship</strong> (Counselor) -- Indiana Repertory Theatre</span></li>
                            <li><span><strong>The Motherline</strong> (Claire) -- NY Fringe Festival</span></li>
                            <li><span><strong>Wizard of Oz</strong> (Dorothy) -- Guyer Opera House</span></li>
                            <li><span><strong>You're A Good Man Charlie Brown</strong> (Sally Brown) -- Ring Theatre</span></li>
                            <li><span><strong>Metamorphosis</strong> (Myrrah/Alcyone) -- Syracuse Red House</span></li>
                            <li><span><strong>Odysseus DOA</strong> (Nurse Dot) -- Off Broadway Lion Theatre</span></li>
                            <li><span><strong>Twelfth Night</strong> (Viola) -- Adirondack Shakespeare Tour</span></li>
                            <li><span><strong>Cabaret</strong> (Fraulein Kost/Fritzie) -- Ring Theatre</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid_8">
                <a href="#" class="close" data-type="close"></a>
                <div class="box">
                    <div class="pad">
                        <h2><strong>Training</strong></h2>
                    </div>
                    <div class="pad">
                        <ul class="list1">
                            <li><span><strong>Cold Reading</strong> (Ongoing) -- Anthony Meindl's Actor Workshop</span></li>
                            <li><span><strong>BFA Musical Theatre</strong> (Bruce Miller) -- University of Miami</span></li>
                            <li><span><strong>Scene Study</strong> (Will Wallace) -- Will Wallace Acting Company</span></li>
                            <li><span><strong>Meisner</strong> (Mark Pellegrino) -- Playhouse West</span></li>
                            <li><span><strong>Casting Director's Workshop</strong> (Burbank) -- AIA Studios</span></li>
                        </ul>
                    </div>
                    <div class="pad">
                        <h2><strong>Download (PDF)</strong></h2>
                    </div>
                    <div class="pad">
                        <ul class="list1">
                            <li><a href="~/content/katemetroka_resume.pdf" target="_blank">Download Resume</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
