<li id="page_Videos">
    <div class="scroll">
        <div class="scroll1">
            <div class="grid_19">
                <div class="box">
                    <div class="pad">
                        <h2><strong>Videos</strong></h2>
                        <div class="line1">
                            <div class="wrapper line2">
                                <div class="half">
                                    <div class="pad_bot2">
                                        <iframe width="400" height="225" src="//www.youtube.com/embed/Dhtc9QBO2F4" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <iframe width="400" height="225" src="//www.youtube.com/embed/oOgdvhOOb5Q" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="half pad_left2">
                                    <div class="pad_bot2">
                                        <iframe width="400" height="225" src="//www.youtube.com/embed/Ff9Kz79aRSM" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <iframe width="400" height="225" src="//www.youtube.com/embed/pYimJM3aPtQ" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_8">
                <a href="#" class="close" data-type="close"></a>
                <div class="box" style="height: 1120px">
                    <div class="pad">
                        <h2><strong>Videos</strong></h2>
                        <div class="line1">
                            <div class="wrapper line2">
                                <div>
                                    <iframe width="400" height="225" src="http://www.poptent.com/iembedshare/bem3/1?" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
